# fly.toml app configuration file generated for yredis-server-prod on 2024-05-08T15:59:11+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'yredis-server-prod'
primary_region = 'mad'

[build]
dockerfile = 'Dockerfile.server'

[http_service]
internal_port = 3002
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
